<center>
    <nav class="navbar navbar-expand-lg
        navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Formulario</a>
                <a class="nav-link" href="/views/resumen.ejs">Vista: Resumida</a>
                <a class="nav-link" href="/views/detalle.ejs">Vista: Detallada</a>
            </div>
        </div>
    </nav>
</center>